[submodule "dependencies/boost"]
	path = dependencies/boost
	url = https://github.com/boostorg/boost.git
[submodule "dependencies/gtest"]
	path = dependencies/gtest
	url = https://github.com/google/googletest.git
[submodule "dependencies/qt"]
	path = dependencies/qt
	url = https://github.com/qt/qtbase.git
